@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');

th {
  text-align: center !important;
}

th:last-child {
  width: 10% !important;
}

.card-caption {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 5px 10px;
}

.close {
  position: absolute;
  right: 7px;
  margin-top: 2px;
  font-size: calc(1rem + 1vw)
}

.th-row {
  width: 25%;
}

.submitted {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #198754;
}


#mainNav.navbar-shrink {
  background-color: rgba(0, 0, 0, .6) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.comp {
  padding: 8rem 0 !important;
}