th {
  text-align: center !important;
}

th:last-child {
  width: 10% !important;
}

.card-caption {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 5px 10px;
}

.close {
  position: absolute;
  right: 7px;
  margin-top: 2px;
  font-size: calc(1rem + 1vw)
}

.th-row {
  width: 25%;
}

.submitted {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #198754;
}