@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');

html {
  scrollbar-gutter: stable both-edges;
  // scrollbar-gutter: stable;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-section {
  flex: 1; 
}




th {
  text-align: center !important;

  &:last-child {
    width: 10% !important;
  }
}




.accordion-header {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.accordion-item:nth-of-type(odd) {
  background-color: #F2F2F2;
}

.accordion-collapse {
  background-color: #fff;
}

.accordion-button {
  background-color: transparent !important;
  font-weight: bold;
}




.card-caption {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 5px 10px;
}

.close {
  position: absolute;
  right: 7px;
  margin-top: 2px;
  font-size: calc(1rem + 1vw)
}

.th-row {
  width: 25%;
}

.submitted {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #198754;
}

.btn-social {
  color: #6D6F72;
  font-size: 1.5em;
  margin: 0 0.6rem;
  height: auto !important;
  width: auto !important;

  &:hover {
    color: #000;
  }

}

/*---------------------------------------------------------*/


#mainNav {
  background-color: #2c2c2c !important;
  transition: all 0.3s ease;

  &.navbar-shrink {

    background-color: rgba(0, 0, 0, 0.6) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    /* transition: all 0.3s ease; */
  }
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.1rem !important;
    padding-bottom: 1.1rem !important;
  }
}

/*---------------------------------------------------------*/


* {
  outline: none;
}

.slider-wrapper {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.slide {
  height: 50vh;
  background-size: cover !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('../public/static/media/right.svg') no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url('../public/static/media/right.svg') no-repeat center center / 16px;
}

.previousButton {
  left: 10px;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: 5px;
}

.nextButton {
  right: 10px;
}

.nextButton:hover {
  right: 5px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}


@media (max-width: 1240px) {

  .slider-wrapper,
  .slide {
    height: 40vh;
  }
}


@media (max-width: 640px) {

  .slider-wrapper,
  .slide {
    height: 40vh;
  }

  .slider-content .inner h1 {
    font-size: 32px;
  }

  .slider-content .inner {
    padding: 0 70px;

    width: 100%;
    top: 70%;
    left: 50%;
  }
}


/*---------------------------------------------------------*/


.slide h1 {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
}

.slide p {
  transition: all 0.3s ease;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
  opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.slide.animateOut h1 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.slide.animateOut p {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}